# Better Auth
BETTER_AUTH_SECRET="replace-with-at-least-32-random-characters"
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_TRUSTED_ORIGINS="http://localhost:3000"
BETTER_AUTH_API_KEY=""

# API
CORS_ORIGIN="http://localhost:3000"
